$white: #fff;
$gray: #eee;
$black: #000;
$blue: #00c;
$red: #c00;
$border: #929191;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;
$defaultBackgroundColor: $gray;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
