$white: #fff;
$gray: #eee;
$black: #000;
$blue: #00c;
$red: #c00;
$error: #631717;
$success: #2b6d2b;
$primary: #0077cc;
$primaryHover: #005fa3;
$secondary: #929191;
$secondaryHover: #7a7979;

$borderRadiusSmall: 3px;
$borderRadiusLarge: 6px;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;
$defaultBackgroundColor: $gray;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
