@use 'sass:color';
@import '../../styles/base';

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  user-select: none;

  &.primary {
    background-color: $primary;
    color: white;

    &:hover {
      background-color: $primaryHover;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: white;

    &:hover {
      background-color: $secondaryHover;
    }
  }

  &.warning {
    background-color: $error;
    color: white;

    &:hover {
      background-color: color.scale($error, $lightness: 25%);
    }
  }

  &.loading,
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button.loading .text {
  opacity: 0;
}

.button.loading {
  position: relative;
  @include loader(2px, 16px, #000);

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
  }
}

.link {
  display: inline-block;
}
