@import '../../styles/base';

.like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  column-gap: 4px;
}

.icon {
  flex-shrink: 0;
}

.me {
  color: $success;
}
