@import '../../styles/base';

.field {
  width: 100%;
  padding-top: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.input {
  padding: 4px 8px;
  border-radius: $borderRadiusSmall;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border: none;
  border: 1px solid $secondary;
  z-index: 1;
}

.error {
  border-color: $red;
}

.label {
  position: absolute;
  top: 20px;
  left: 8px;
  font-size: 18px;
  line-height: 22px;
  color: $secondary;
  transition: all 0.3s;
  z-index: 2;
}

.field:has(.input:focus, .input:placeholder-shown, .input.value) .label {
  top: 8px;
  padding: 0 4px;
  color: $black;
  font-size: 12px;
  line-height: 14px;
  background-color: $white;
  z-index: 2;
}
